<div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class=" nav navbar-nav">
      <li class="active"><a href="/">Node Financial</a></li>
      <li><a href="/customer">Customer Home</a></li>
      <li><a href="/customer/show/<%=stock.owner.id%>"><%=stock.owner.name%></a></li>
    </ul>
  </div>
</nav>
</div>
<div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<h1><%= stock.owner.name %></h1>
<div class="invfont">
<table class="table">
	<tr>
		<td><strong>Symbol: </strong></td>
		<td><strong><%=stock.symbol%></strong></td>
	</tr>
	<tr>
		<td><strong>Name: </strong></td>
		<td><strong><%= stock.name %></strong></td>
	</tr>
	<tr>
		<td><strong>Number Of Shares: </strong></td>
		<td><strong><%= stock.number_of_shares %></strong></td>
	</tr>
	<tr>
		<td><strong>Purchase Price: </strong></td>
		<td><strong><%= stock.purchase_price%></strong></td>
	</tr>
	<tr>
		<td><strong>Latest Price: </strong></td>
		<td><strong><%= stock.current_price%></strong></td>
	</tr>
	<tr>
		<td><strong>Created: </strong></td>
		<td><strong><%= stock.createdAt%></strong></td>
	</tr>
	<tr>
		<td><strong>Modified: </strong></td>
		<td><strong><%= stock.updatedAt%></strong></td>
	</tr>
</table>
</div>
<hr/>
<br/>
<br/>
<a class="btn pull-left btn-warning btn-lg" href="/stock/edit/<%= stock.id %>">Edit</a>
<a class="btn pull-right btn-danger btn-lg" href="/stock/destroy/<%= stock.id %>">Delete</a>
</div>
</div>	