<div>
<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <ul class=" nav navbar-nav">
      <li class="active"><a href="/">Node Financial</a></li>
      <li><a href="/customer">Customer Home</a></li>
      <li><a href="/customer/show/<%=investment.investor.id%>"><%=investment.investor.name%></a></li>
    </ul>
  </div>
</nav>
</div>
<div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<h1><%= investment.investor.name %></h1>
<div class="invfont">
<table class="table">
	<tr>
		<td><strong>Category: </strong></td>
		<td>
		<strong><%= investment.category %></strong>
		</td>
	</tr>
	<tr>
		<td><strong>Acquired price: </strong></td>
		<td><strong><%= investment.acquired_value %></strong></td>
	</tr>
	<tr>
		<td><strong>Acquired date: </strong></td>
		<td><strong><%= investment.acquired_date%></strong></td>
	</tr>
	<tr>
		<td><strong>Description: </strong></td>
		<td><strong><%=investment.description%></strong></td>
	</tr>
	<tr>
		<td><strong>Recent Date: </strong></td>
		<td><strong><%= investment.recent_date%></strong></td>
	</tr>
	<tr>
		<td><strong>Created: </strong></td>
		<td><strong><%= investment.createdAt%></strong></td>
	</tr>
	<tr>
		<td><strong>Modified: </strong></td>
		<td><strong><%= investment.updatedAt%></strong></td>
	</tr>
</table>
</div>
<hr/>
<br/>
<br/>
<a class="btn pull-left btn-warning btn-lg" href="/investment/edit/<%= investment.id %>">Edit</a>
<a class="btn pull-right btn-danger btn-lg" href="/investment/destroy/<%= investment.id %>">Delete</a>
</div>
</div>