<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/customer">Customer</a></li>
</ul>
<h1><%= customer.name %></h1>
<hr>
<h3>Email: <%= customer.email %></h3>
<h4><%= customer.state %></h4>
<hr>
<!--This is the Stock information-->
<h3>Stocks</h3>
<table>
  <tr>
    <th>Symbol</th>
    <th>Number of Shares</th>
    <th>Current Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.stocks, function(stock) { %>
  <tr data-id="<%= stock.id %>" data-model="stock" >
    <td><%= stock.symbol %></td>
    <td><%= stock.number_of_shares %></td>
    <td></td>
    <td><a href="/stock/show/<%= stock.id %>">Show</a></td>
    <td><a href="/stock/edit/<%= stock.id %>">Edit</a></td>
    <td><a href="/stock/destroy/<%= stock.id %>">Delete</a></td>
  </tr>
  <% }); %>
</table>
<br/>
<form action="/stock/new" method="POST" >
  <input type="hidden" value="<%= customer.id %>" name="owner">
  <input type="submit" value="Add Stock" />
</form>
<!--This is the investment information-->
<hr>
<h3>Investment</h3>
<table>
  <tr>
    <th>Category</th>
    <th>Acquired Date</th>
    <th>Acquired Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" >
    <td><%= investment.category %></td>
    <td><%= investment.acquired_value %></td>
    <td><%=investment.acquired_date%></td>
    <td><a href="/investment/show/<%= investment.id %>">Show</a></td>
    <td><a href="/investment/edit/<%= investment.id %>">Edit</a></td>
    <td><a href="/investment/destroy/<%= investment.id %>">Delete</a></td>
  </tr>
  <% }); %>
</table>
<br/>
<form action="/investment/new" method="POST" >
  <input type="hidden" value="<%= customer.id %>" name="investor">
  <input type="submit" value="Add Investment" />
</form>